{{#each this}}
<div class="article__list">
  <article>
  <h3>{{name}}</h3>
  <p> <span>Capital:</span> {{capital}} </p>
  <p> <span>Population:</span>  {{population}} </p>
  <p> <span>Languages:</span>  {{laguges}} </p>
  <ul>
    {{#each languages}}
    <li>{{name}}</li>
    {{/each}}
  </ul>
  <img class="countries-flag" src="{{flag}}" alt="{{name}}" width="250px" height="150px">
</article>
</div>
{{/each}}